<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <button rel={{request.session.name}} type="button" class="check_in_btn">Yes</button>
 -->
<div class="container">
  <form class="form-inline" action="/6857/quartirs_app/{{qr_hash}}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <h1>Do you want to give your name to {{location}}?</h1>
  	<input type="hidden" name="user" value="{{request.user}}">
  </div>
  <button class="btn btn-default btn-lg">Yes</button>
  </form>
</div>
