<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'quartirs_app/bootstrap.min.css' %}" />
</head>

	<script src="jquery-1.11.3.min.js"></script>
	<script>
		// check if code has been used on a timer and if it has, refresh
		var testQR = function() {
			$.ajax({
				url: '/6857/quartirs_app/getCheckedInUsers',
				success: function(validUsers) {
					$('#userTable').html(validUsers);
				}, 
			});
		}
		window.setInterval(function() { testQR() }, 1000);
	</script>
</head>

<form method="GET" action="/6857/quartirs_app/">
	<button type="submit">Go To QR Page</button>
</form>

<div class="table-responsive">
	<table class="table table-striped" id="userTable" border="1">
		{% include "quartirs_app/user_table.html" %}
	</table>
</div>
